apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ backup_bucket_name }} 
  namespace: {{ backup_bucket_namespace }}
spec:
  additionalConfig:
    bucketclass: {{ obc_bucket_class | default('noobaa-default-bucket-class', true) }}
  bucketName: {{ backup_bucket_name }} 
  storageClassName: {{ obc_storage_class | default('openshift-storage.noobaa.io', true) }}

