kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: oadp-resource-exclusion-files
  namespace: {{ oadp_backup_ns }}
  labels:
    template: oadp-resource-exclusion-cronjob
    app.kubernetes.io/instance: oadp-resource-exclusion
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: '1Gi'
  storageClassName: 'gp3-csi'
  volumeMode: Filesystem
