apiVersion: v1
kind: ConfigMap 
metadata:
  name: change-storage-class-config
  namespace: {{ oadp_restore_ns }} 
  labels:
    cluster-id: {{ cluster_id }}
    cluster-name: {{ cluster_name }}
    velero.io/plugin-config: ""
    velero.io/change-storage-class: RestoreItemAction
spec:
  standard-csi: {{ oadp_restore_cs_name | default('gp3-csi', true) }}
