apiVersion: velero.io/v1
kind: Restore
metadata:
  name: {{ restore_name }}
  namespace: {{ oadp_restore_ns }} 
spec:
{% if oadp_schedule_name is defined and oadp_schedule_name != '' %}
  scheduleName: {{ oadp_schedule_name }}
{% endif %}
  excludedNamespaces: []
  preserveNodePorts: true
  existingResourcePolicy: none
  itemOperationTimeout: {{ oadp_restore_op_ttl | default('4h0m0s', true) }}
  backupName: {{ backup_name }} 
  includedNamespaces: []
{% if excluded_resources_list is defined and excluded_resources_list | default([], true) | length > 0 %}
  excludedResources:
      {{ excluded_resources_list | to_nice_yaml | indent(6, false) }}
{% else %}
  excludedResources:
    - nodes
    - events
    - events.events.k8s.io
    - backups.velero.io
    - restores.velero.io
    - resticrepositories.velero.io
    - csinodes.storage.k8s.io
    - volumeattachments.storage.k8s.io
    - backuprepositories.velero.io
{% endif %}
  restorePVs: true
